.footer {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  background: #111;
  color: white;
}

.icons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;

  a {
    display: inline-block;
  }

  img {
    width: 40px;
    height: 40px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
}
